{
  "endOfLine": "lf",
  "printWidth": 80,
  "tabWidth": 2,
  "trailingComma": "es5",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^src/components/(.*)$",
    "^src/utils/(.*)$",
    "^src/constants/(.*)$",
    "^src/@types/(.*)$",
    "^[./]"
  ],
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true
}
