.table-header {
  background: #3d3c3c;

  &__row {
    border-top: 2px solid #fff;
  }

  &__empty-cell {
    width: 50px;
  }

  &__cell {
    padding: 12px;
    text-align: center;
  }

  &__sum {
    font-weight: bold;
  }
}
