.cell {
  transition: background-color 0.3s ease;

  font-size: 20px;
  border: 1px solid #fff;
  padding: 12px;
  text-align: center;

  &--active {
    background: #473f3f;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__button {
    width: 24px;
    height: 24px;

    border-radius: 100%;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      transform: scale(1.1);
      opacity: 0.8;
    }

    &:active {
      transform: scale(0.95);
    }
  }

  &__amount {
    cursor: default;
  }
}
