main {
  display: flex;
  flex-direction: column;

  max-width: 1440px;
  margin-inline: auto;
  height: 100vh;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
